@font-face {
	font-family: 'u5';
	src: url('../assets/fonts/u5.woff2') format('woff2'), url('../assets/fonts/u5.woff') format('woff');
}
@font-face {
	font-family: 'u5c';
	src: url('../assets/fonts/u5c.woff2') format('woff2'), url('../assets/fonts/u5c.woff') format('woff');
}
@font-face {
	font-family: 'u5cdot';
	src: url('../assets/fonts/u5cdot.woff2') format('woff2'), url('../assets/fonts/u5cdot.woff') format('woff');
}
@font-face {
	font-family: 'u5hp';
	src: url('../assets/fonts/u5hp.woff2') format('woff2'), url('../assets/fonts/u5hp.woff') format('woff');
}
@font-face {
	font-family: 'u8';
	src: url('../assets/fonts/u8.woff2') format('woff2'), url('../assets/fonts/u8.woff') format('woff');
}
@font-face {
	font-family: 'u8v';
	src: url('../assets/fonts/u8v.woff2') format('woff2'), url('../assets/fonts/u8v.woff') format('woff');
}
@font-face {
	font-family: 'u8z';
	src: url('../assets/fonts/u8z.woff2') format('woff2'), url('../assets/fonts/u8z.woff') format('woff');
}
@font-face {
	font-family: 'u8zf';
	src: url('../assets/fonts/u8zf.woff2') format('woff2'), url('../assets/fonts/u8zf.woff') format('woff');
}
@font-face {
	font-family: 'binary_horizontal_u5hp2';
	src: url('../assets/fonts/binary_horizontal_u5hp2.woff2') format('woff2'), url('../assets/fonts/binary_horizontal_u5hp2.woff') format('woff');
}
@font-face {
	font-family: 'binary_horizontal_u82';
	src: url('../assets/fonts/binary_horizontal_u82.woff2') format('woff2'), url('../assets/fonts/binary_horizontal_u82.woff') format('woff');
}
@font-face {
	font-family: 'binary_vertical_u5c2';
	src: url('../assets/fonts/binary_vertical_u5c2.woff2') format('woff2'), url('../assets/fonts/binary_vertical_u5c2.woff') format('woff');
}
@font-face {
	font-family: 'binary_vertical_u5hp2';
	src: url('../assets/fonts/binary_vertical_u5hp2.woff2') format('woff2'), url('../assets/fonts/binary_vertical_u5hp2.woff') format('woff');
}
@font-face {
	font-family: 'binary_vertical_u82';
	src: url('../assets/fonts/binary_vertical_u82.woff2') format('woff2'), url('../assets/fonts/binary_vertical_u82.woff') format('woff');
}
